<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

.PTSans{font-family:'PT Sans';font-weight:400;} /* 400 is industry standard for normal */
.PTSansLight{font-family:'PT Sans';font-weight:300;} /* 300 is industry standard for normal */
.PTSansMedium{font-family:'PT Sans';font-weight:500;} /* 500 is industry standard for normal */

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
	font-weight: 700;
    color: #444444;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px; 
	font-style: italic;
	font-weight: 400;
    color: #74777c;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px; 
	font-weight: 700;
    color: #444444;
}